.about-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text {
  font-size: 20px;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  background: #5a2a1e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background 0.3s;
  cursor: pointer;
}

.feature-card:hover {
  transform: translateY(-5px);
  background: #7a3d2b;
}